  {%- if include.list.size > 0 -%}
    <h2 class="post-list-heading">{{ include.list_title | default: "Index" }}</h2>
    <ul class="post-list">
      {%- for doc in include.list -%}
      {%- if doc.relative_path contains "index." -%}
        {%- continue -%}
      {%- endif -%}
      <li>
        <h3>
          <a class="post-link" href="{{ doc.url | relative_url }}">
            {{ doc.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
