
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

          <a href="/">
            <h1 id="project_title">{{ site.name }}</h1>
          </a>
          <div>

            <div id="project_tagline">{{ site.tagline }}

            <div class="nav">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/resume">Resume</a></li>
              </ul>
            </div></div>
          </div>

        </header>
    </div>
